@using BTL_N01.Models
@model  LoaiThietBi
<div class="~/Ảnh-row">
    <h2 class="homeproducts-title"><a href="@Url.Action("LoaiSanPham","BanHang", new { @MaLoai = Model.MaLoai})">@Model.TenLoai</a></h2>
    <div class="row">
        @Html.Action("Sanphamtungloai", "BanHang", new { @MaLoai = Model.MaLoai})
    </div>
</div>
