@using BTL_N01.Models
@model LoaiThietBi
@{
    ViewBag.Title = "LoaiSanPham";
    Layout = "~/Views/Shared/_LayoutBH.cshtml";
}

<section class="homeproducts">
    <div class="container">
        <div class="~/Ảnh-row">
            <h2 class="homeproducts-title"><a href="@Url.Action("TrangChu","BanHang")">@Model.TenLoai</a></h2>
            <div class="row">
                @Html.Action("Sanphamtungloai", "BanHang", new { @MaLoai = Model.MaLoai })
            </div>
        </div>

    </div>
</section>

